html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: opensans; src: url("fonts/opensans.eot"); src: url("fonts/opensans.eot?#iefix") format("embedded-opentype"), url("fonts/opensans.woff") format("woff"), url("fonts/opensans.woff2") format("woff2"), url("fonts/opensans.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-semibold; src: url("fonts/opensans-semibold.eot"); src: url("fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold.woff") format("woff"), url("fonts/opensans-semibold.woff2") format("woff2"), url("fonts/opensans-semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-bold; src: url("fonts/opensans-bold.eot"); src: url("fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold.woff") format("woff"), url("fonts/opensans-bold.woff2") format("woff2"), url("fonts/opensans-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: niconne; src: url("fonts/niconne.eot"); src: url("fonts/niconne.eot?#iefix") format("embedded-opentype"), url("fonts/niconne.woff") format("woff"), url("fonts/niconne.woff2") format("woff2"), url("fonts/niconne.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: custom; src: url("fonts/custom.eot"); src: url("fonts/custom.eot?#iefix") format("embedded-opentype"), url("fonts/custom.woff") format("woff"), url("fonts/custom.woff2") format("woff2"), url("fonts/custom.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-size: 12px; line-height: 1.4; background: white; font-family: "opensans", Arial, sans-serif; }

.out { min-width: 320px; }
.out a { text-decoration: none; -webkit-tap-highlight-color: transparent; }

.onleft { float: left; }

.onright { float: right; }

input { display: block; width: 100%; padding: 5px 35px 5px 20px; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "custom"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-smile:before { content: "\e800"; }

.icon-search:before { content: "\e801"; }

.icon-vk:before { content: "\e802"; }

.icon-twitter:before { content: "\e808"; }

.icon-ok:before { content: "\e804"; }

.icon-insta:before { content: "\e805"; }

.icon-fb:before { content: "\e806"; }

.icon-menu:before { content: "\e807"; }

.l-center { max-width: 1320px; padding: 0 20px; margin: 0 auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.header .header__in, .header .header__nav { *zoom: 1; }
.header .header__in:after, .header .header__nav:after { content: " "; display: table; clear: both; }
.header .header__in { padding: 15px 0; }
.header .header__nav { padding: 15px 0; background: #262e31; }
@media only screen and (max-width: 480px) { .header .header__in { text-align: center; } }

.logo { font-size: 44px; color: #262e31; line-height: 1; font-family: "niconne", Arial, sans-serif; }
.logo span { color: #d41111; }
@media only screen and (max-width: 480px) { .logo { float: none; } }

.social { margin-top: 15px; font-size: 0; }
.social .social__ico { display: inline-block; width: 26px; height: 26px; margin: 0 5px; border: 2px solid #bfbfbf; border-radius: 50%; vertical-align: middle; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; }
.social .social__ico:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.social .social__ico i { display: inline-block; font-size: 15px; color: #bfbfbf; vertical-align: middle; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.social .social__ico .icon-vk { font-size: 14px; }
.social .social__ico .icon-ok { font-size: 15px; }
.social .social__ico .icon-insta { font-size: 14px; }
.social .social__ico .icon-smile { font-size: 11px; }
.social .social__ico:last-child { margin-right: 0; }
.social .social__ico:hover { border-color: #999999; }
.social .social__ico:hover i { color: #999999; }
@media only screen and (max-width: 480px) { .social { float: none; text-align: center; } }

.nav { font-size: 0; }
.nav .nav__ico { display: inline-block; margin-right: 20px; font-size: 20px; color: #adadad; vertical-align: middle; }
.nav .nav__ico:before { margin: 0; }
.nav .nav__list { display: inline-block; vertical-align: middle; *zoom: 1; }
.nav .nav__list:after { content: " "; display: table; clear: both; }
.nav .nav__list li:last-child .nav__link { margin-right: 0; }
.nav .nav__link { margin-right: 28px; font-size: 16px; color: #adadad; }
.nav .nav__link:hover { color: white; }
@media only screen and (max-width: 768px) { .nav .nav__link, .nav .nav__ico { margin-right: 15px; } }
@media only screen and (max-width: 480px) { .nav { float: none; text-align: center; }
  .nav .nav__ico { width: 10%; margin: 0; }
  .nav .nav__list li { float: none; display: inline-block; padding: 5px 0; }
  .nav .nav__list li:last-child .nav__link { margin-right: 10px; }
  .nav .nav__link { margin: 0 10px; } }

.header__search .input { position: relative; display: block; width: 304px; }
.header__search .icon-search { position: absolute; top: 4px; right: 15px; font-size: 16px; background: none; color: #bfbfbf; }
@media only screen and (max-width: 640px) { .header__search .input { width: 100%; max-width: 160px; } }
@media only screen and (max-width: 480px) { .header__search { float: none; }
  .header__search .input { max-width: 300px; margin: 15px auto 0; } }

.header__submenu { padding: 10px 0; -moz-box-shadow: 0 1px 3px rgba(0, 0, 2, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 2, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 2, 0.1); }
.header__submenu .submenu__list { *zoom: 1; }
.header__submenu .submenu__list:after { content: " "; display: table; clear: both; }
.header__submenu .submenu__link { position: relative; display: inline-block; margin-right: 20px; font-size: 14px; color: #b8b8b8; -moz-transition: color 0.2s ease; -o-transition: color 0.2s ease; -webkit-transition: color 0.2s ease; transition: color 0.2s ease; }
.header__submenu .submenu__link:before { content: ""; position: absolute; left: 0; bottom: -11px; width: 0; height: 2px; background: #d32025; }
.header__submenu .submenu__link.is-active { color: #4d4d4d; }
.header__submenu .submenu__link.is-active:before { width: 100%; }
@media only screen and (max-width: 480px) { .header__submenu .submenu__link { margin: 5px 10px; }
  .header__submenu .submenu__link:before { display: none; } }

.content { display: block; padding: 44px 5px 58px; background: #ebebe8; }
.content .content__in { padding: 35px 20px 70px; background: white; -moz-box-shadow: 0 1px 2px rgba(0, 1, 1, 0.16); -webkit-box-shadow: 0 1px 2px rgba(0, 1, 1, 0.16); box-shadow: 0 1px 2px rgba(0, 1, 1, 0.16); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.content .content__in:after { content: " "; display: table; clear: both; }
.content .content__in.for-inner { padding: 35px 35px 10px; }
@media only screen and (max-width: 480px) { .content { padding: 44px 0 58px; }
  .content .l-center { padding: 0; }
  .content .content__in { padding: 35px 5px 70px; }
  .content .content__in.for-inner { padding: 35px 15px 50px; } }

.item-wrap { font-size: 0; }
@media only screen and (max-width: 640px) { .item-wrap { text-align: center; } }

.item { display: inline-block; width: 25%; height: 430px; margin-bottom: 30px; padding: 0 15px; text-align: left; font-size: 14px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item.is-double-width { width: 50%; }
.item.is-double-width .item__img { height: 300px; }
.item.is-double-width .item__txt { padding: 0 30px; color: #223032; }
.item.is-double-width .item__desc { height: 45px; }
.item .item__in { height: 100%; background: #f1f1f1; }
.item .item__img { height: 170px; margin-bottom: 10px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.item .item__img img { display: block; max-width: 100%; margin: 0 auto; }
.item .item__category { margin-bottom: 5px; *zoom: 1; }
.item .item__category:after { content: " "; display: table; clear: both; }
.item .item__category-name { text-transform: uppercase; color: #d0464e; font-size: 12px; }
.item .item__date { font-size: 13px; color: #adadad; }
.item .item__ttl { display: block; margin-bottom: 10px; font-size: 20px; line-height: 1.2; color: #223032; font-family: "opensans-semibold", Arial, sans-serif; }
.item .item__ttl:hover, .item .item__ttl:active { text-decoration: underline; }
.item .item__txt { color: #7a7a7a; }
.item .item__desc { display: block; height: 90px; line-height: 1.45; overflow: hidden; }
@media only screen and (max-width: 1000px) { .item { width: 33%; font-size: 13px; }
  .item.is-double-width { width: 33%; }
  .item.is-double-width .item__img { height: 170px; }
  .item.is-double-width .item__txt { padding: 0 10px; }
  .item .item__in { height: auto; padding-bottom: 20px; }
  .item .item__ttl { font-size: 18px; } }
@media only screen and (max-width: 768px) { .item { width: 50%; height: auto; }
  .item.is-double-width { width: 50%; }
  .item.is-double-width .item__desc { height: 90px; } }
@media only screen and (max-width: 640px) { .item { width: 100%; max-width: 400px; }
  .item.is-double-width { width: 100%; } }

.button-wrap { margin-top: 75px; text-align: center; }
@media only screen and (max-width: 1000px) { .button-wrap { margin-top: 15px; } }

.button { padding: 15px 45px; text-transform: uppercase; font-size: 14px; background: none; border: 2px solid #262e31; color: #223032; -webkit-tap-highlight-color: transparent; font-family: "opensans-semibold", Arial, sans-serif; }
.button:active { position: relative; top: 0.5px; -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.3); box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.3); }

.footer__top { min-height: 62px; background: #303a3d; }

.footer__bottom { background: #262e31; }

.footer__in { font-size: 11px; color: #b3b3b3; *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__in .footer__list { padding: 15px 0 0 5px; *zoom: 1; }
.footer__in .footer__list:after { content: " "; display: table; clear: both; }
.footer__in .footer__link { position: relative; display: block; margin: 0 15px; padding: 5px 0; font-size: 14px; color: white; }
.footer__in .footer__link:before { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #4a5457; -moz-transition: width 0.2s ease; -o-transition: width 0.2s ease; -webkit-transition: width 0.2s ease; transition: width 0.2s ease; }
.footer__in .footer__link:hover:before { width: 0; }
.footer__in .social { margin-right: 20px; }
.footer__in .footer__rules { padding: 35px 20px 30px; line-height: 1.3; *zoom: 1; }
.footer__in .footer__rules:after { content: " "; display: table; clear: both; }
.footer__in .footer__rules p { margin-bottom: 3px; }
.footer__in .footer__span { display: inline-block; margin: 0 2px; padding: 2px; background: #fae2e2; color: gray; border-radius: 2px; }
.footer__in .footer__rules-link { display: block; margin-bottom: 15px; color: white; text-decoration: underline; }
.footer__in .footer__restrict { padding: 10px 5px; font-size: 19px; background: #3a464a; color: #b2b2b2; line-height: 1; border-radius: 50%; }
.footer__in .footer__copyright { margin: 0 20px; padding: 40px 0 30px; border-top: 1px solid #4a5457; font-size: 13px; *zoom: 1; }
.footer__in .footer__copyright:after { content: " "; display: table; clear: both; }
.footer__in .footer__copyright .footer__copy p, .footer__in .footer__copyright .footer__link { display: inline-block; }
.footer__in .footer__copyright .footer__link { margin: 0 0 0 57px; }
.footer__in .footer__copyright .footer__link:before { display: none; }
.footer__in .footer__copyright .footer__link span { position: relative; padding-bottom: 5px; }
.footer__in .footer__copyright .footer__link span:before { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #4a5457; -moz-transition: width 0.2s ease; -o-transition: width 0.2s ease; -webkit-transition: width 0.2s ease; transition: width 0.2s ease; }
.footer__in .footer__copyright .footer__link span:hover:before { width: 0; }
@media only screen and (max-width: 1000px) { .footer__in .footer__list, .footer__in .footer__copy { float: none; }
  .footer__in .social { margin: 15px 20px 15px 0; }
  .footer__in .counters { margin-top: 15px; } }
@media only screen and (max-width: 640px) { .footer__in .footer__copy { text-align: center; }
  .footer__in .footer__copy .footer__link { display: block; margin: 10px 0; }
  .footer__in .footer__list { text-align: center; }
  .footer__in .footer__list li { float: none; }
  .footer__in .footer__link { display: inline-block; margin-bottom: 5px; }
  .footer__in .social { float: none; text-align: center; margin-right: 0; } }
@media only screen and (max-width: 480px) { .footer__in .footer__copyright { padding-bottom: 20px; } }

.counters { font-size: 0; }
.counters a { display: inline-block; margin: 0 15px; vertical-align: middle; }
.counters a:last-child { margin-right: 0; }
.counters .counter__yandex { width: 88px; height: 15px; background: url(../img/counter.jpg) no-repeat; }
.counters .counter__mail { width: 88px; height: 16px; background: url(../img/counter2.png) no-repeat; }
.counters .counter__rambler { width: 88px; height: 31px; background: url(../img/counter1.jpg) no-repeat; }
@media only screen and (max-width: 640px) { .counters { float: none; text-align: center; }
  .counters a:last-child { margin-right: 15px; } }
@media only screen and (max-width: 480px) { .counters a { margin: 10px 15px; } }

.inner { display: table; padding-right: 30px; font-size: 16px; color: #223032; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.inner p { margin-bottom: 25px; }
.inner h3 { margin-bottom: 20px; font-size: 24px; color: #223032; }
.inner .inner__bl-ttl { position: relative; height: 475px; background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.inner .inner__ttl { position: absolute; left: 25px; bottom: 25px; max-width: 68%; padding: 10px; font-size: 16px; color: white; background: rgba(0, 0, 0, 0.4); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.inner .inner__ttl h2 { text-transform: uppercase; font-size: 44px; text-shadow: 0 2px 8px rgba(3, 5, 7, 0.35); line-height: 1.2; font-family: "opensans-semibold", Arial, sans-serif; }
.inner .inner__ttl h4 { text-transform: uppercase; font-size: 20px; font-family: "opensans-semibold", Arial, sans-serif; }
.inner .inner__ttl p { margin-bottom: 0; }
.inner .inner__social { margin: 30px -5px; font-size: 0; }
.inner .inner__social a { display: inline-block; margin: 0 5px; vertical-align: middle; }
.inner .inner-vk { background: url('../img/icons-scbb03d47dd.png') 0 -200px no-repeat; width: 49px; height: 24px; }
.inner .inner-fb { background: url('../img/icons-scbb03d47dd.png') 0 -30px no-repeat; width: 57px; height: 24px; }
.inner .inner-twitter { background: url('../img/icons-scbb03d47dd.png') 0 -166px no-repeat; width: 49px; height: 24px; }
.inner .inner-ok { background: url('../img/icons-scbb03d47dd.png') 0 -132px no-repeat; width: 57px; height: 24px; }
.inner .inner-mail { background: url('../img/icons-scbb03d47dd.png') 0 -98px no-repeat; width: 41px; height: 24px; }
.inner .inner-google { background: url('../img/icons-scbb03d47dd.png') 0 -64px no-repeat; width: 41px; height: 24px; }
.inner .inner__pics { margin: 0 -15px 40px; font-size: 0; }
.inner .img-wrap { display: inline-block; width: 50%; padding: 0 15px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.inner .img-wrap img { width: 100%; }
@media only screen and (max-width: 1000px) { .inner .inner__ttl { font-size: 14px; max-width: inherit; right: 25px; }
  .inner .inner__ttl h2 { font-size: 35px; }
  .inner .inner__ttl h4 { font-size: 15px; } }
@media only screen and (max-width: 768px) { .inner { padding-right: 0; }
  .inner .inner__ttl h2 { font-size: 30px; } }
@media only screen and (max-width: 640px) { .inner .inner__ttl { left: 15px; right: 15px; bottom: 15px; }
  .inner .img-wrap { display: block; width: 100%; margin-bottom: 20px; padding: 0; }
  .inner .img-wrap img { display: block; max-width: 400px; margin: 0 auto; } }
@media only screen and (max-width: 480px) { .inner .inner__bl-ttl { height: 400px; }
  .inner .inner__ttl { left: 0; right: 0; bottom: 0; }
  .inner .inner__ttl h2 { font-size: 25px; }
  .inner .inner__social a { margin-bottom: 5px; } }

.publication { margin-top: 40px; padding-top: 35px; border-top: 3px solid #ebebe8; }
.publication h2 { font-size: 24px; margin-bottom: 20px; color: #223032; font-family: "opensans-semibold", Arial, sans-serif; }
.publication .item-wrap { margin: 0 -15px; }
.publication .item { width: 33%; height: auto; }
@media only screen and (max-width: 768px) { .publication .item-wrap { text-align: left; }
  .publication .item { width: 50%; } }
@media only screen and (max-width: 640px) { .publication .item { width: 100%; margin-bottom: 0; } }

.sidebar { position: relative; width: 32%; height: 100%; max-width: 280px; min-width: 205px; *zoom: 1; }
.sidebar:after { content: " "; display: table; clear: both; }
.sidebar .js-sidebar { position: relative; }
.sidebar .js-sidebar.is-fixed { position: fixed; top: 0; margin-top: 15px; }
.sidebar .js-sidebar.is-absolute { position: absolute; }
.sidebar .sidebar__img img { max-width: 100%; }
.sidebar .comment { display: block; width: 100%; margin-bottom: 60px; padding: 20px 0 15px; text-align: center; text-transform: uppercase; font-size: 20px; color: white; line-height: 1; background-color: #53cdbd; border-radius: 5px; border: none; -moz-box-shadow: 0 2px 0 #4abaab; -webkit-box-shadow: 0 2px 0 #4abaab; box-shadow: 0 2px 0 #4abaab; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "opensans-semibold", Arial, sans-serif; }
@media only screen and (max-width: 768px) { .sidebar { width: 100%; height: auto; float: none; margin: 0 auto; }
  .sidebar .sidebar__img { display: none; } }

.date { position: relative; max-width: 275px; margin-bottom: 40px; text-align: center; font-size: 24px; color: #262e31; line-height: 1; font-family: "opensans-semibold", Arial, sans-serif; }
.date:before, .date:after { content: ""; position: absolute; border-right: 1px solid #ebebe8; border-bottom: 1px solid #ebebe8; }
.date:before { top: 3px; left: 0; bottom: -3px; right: -3px; background: white; z-index: 0; }
.date:after { top: 6px; left: 3px; bottom: -6px; right: -6px; }
.date .angle { position: absolute; width: 39px; height: 39px; background: white; right: 0; bottom: 0; z-index: 2; width: 0px; height: 0px; border-style: solid; border-width: 39px 39px 0 0; border-color: #dededc transparent transparent transparent; }
.date .date__in { position: relative; background: #ebebe8; padding: 15px 0 23px; z-index: 1; }
.date .date__day { font-size: 110px; margin-bottom: 20px; }
