doctype3
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/screen.css" media="screen,print")
		<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
		block title
			title template
	body
		.out
			header.header
				.l-center
					.header__in
						a(href="#").logo.onleft
							| Life<span>style</span>
						.social.onright
							a(href="#").social__ico
								i.icon-vk
							a(href="#").social__ico
								i.icon-fb
							a(href="#").social__ico
								i.icon-twitter
							a(href="#").social__ico
								i.icon-ok
							a(href="#").social__ico
								i.icon-insta
							a(href="#").social__ico
								i.icon-smile
				.header__nav
					.l-center
						nav.nav.onleft
							a(href="#").nav__ico.icon-menu
							ul.nav__list
								li.onleft
									a(href="#").nav__link PrimaMedia
								li.onleft
									a(href="#").nav__link LifeStyle
								li.onleft
									a(href="#").nav__link Авто
						.header__search.onright
							label.input
								input(type="text")
								i.icon-search
				.header__submenu
					.l-center
						ul.submenu__list
							li.onleft
								a(href="#").submenu__link Еда
							li.onleft
								a(href="#").submenu__link Одежда
							li.onleft
								a(href="#").submenu__link Здоровье
							li.onleft
								a(href="#").submenu__link Дом
							li.onleft
								a(href="#").submenu__link Развлечения

				block content
				footer.footer
					.footer__top
						.l-center
							.footer__in
								ul.footer__list.onleft
									li.onleft
										a(href="#").footer__link О нас
									li.onleft
										a(href="#").footer__link Вакансии
									li.onleft
										a(href="#").footer__link Контакты
									li.onleft
										a(href="#").footer__link Размещение рекламы
									li.onleft
										a(href="#").footer__link Прислать новость или идею
								.social.onright
									a(href="#").social__ico
										i.icon-vk
									a(href="#").social__ico
										i.icon-fb
									a(href="#").social__ico
										i.icon-twitter
									a(href="#").social__ico
										i.icon-ok
									a(href="#").social__ico
										i.icon-insta
									a(href="#").social__ico
										i.icon-smile
					.footer__bottom
						.l-center
							.footer__in
								.footer__rules
									p.
										При перепечатке либо ином использовании текстовых материалов с настоящего сайта гиперссылка на источник обязательна.
										Фотографии, видеоматериалы, иные иллюстрации могут быть использованы только с письменного согласия автора (правообладателя) и с обязательным указанием имени автора и источника заимствования.
									a(href="#").footer__rules-link Правила сайта
									p.
										Отметкой <span class="footer__span">Реклама</span> обозначены рекламные материалы.
									.footer__restrict.onright
										span 16+
								.footer__copyright
									.footer__copy.onleft
										p © 2005—2014 Медиахолдинг PrimaMedia
										a(href="#").footer__link Разработка сайта - ЦРТ
									.counters.onright
										a(href="#").counter__yandex
										a(href="#").counter__mail
										a(href="#").counter__rambler


		script(src="js/lib/head.js", data-headjs-load="js/init.js")