extend _skeleton.jade

block title
	title inner

block content
	//BEGIN CONTENT
	main.content
		.l-center
			.content__in.for-inner
				//BEGIN SIDEBAR
				.sidebar.onright
					.js-sidebar
						.date
							.date__in
								p.date__day 3
								p Марта
							i.angle
						a(href="#").comment Комментировать
						.sidebar__img
							img(src="img/banner2.jpg" alt="banner2")
				//END SIDEBAR
				//BEGIN INNER
				.inner
					.inner__bl-ttl(style="background-image: url(img/inner1.jpg)")
						.inner__ttl
							h4 Одежда
							h2 Как обновить гардероб за 1000 рублей
							p Редакция изучает секонды, дисконты и интернет с целью выжать из тысячи рублей максимум
					.inner__social
						a(href="#").inner-vk
						a(href="#").inner-fb
						a(href="#").inner-twitter
						a(href="#").inner-ok
						a(href="#").inner-mail
						a(href="#").inner-google
					p.
						Последствия падения рубля и новый экономический кризис в России не могли не сказаться на наших потребительских привычках.
						Шопинг становится рациональнее и прагматичнее, а выбор вещей в магазинах — однообразнее и функциональнее.
						По крайней мере так прогнозируют эксперты. При этом перспектива ходить из угла в угол в масс-маркете в поисках дешевых модных вещей кажется удручающей.
						Хотя, спорить не будем, за дешевыми базовыми вещами, бельем, носками и прочими жизненными мелочами мы пойдем именно туда.
						Другой вопрос: как пополнить гардероб, затратив минимум средств и купив что-то универсальное или, наоборот, необычное?
					p.
						Мы решили посмотреть, что классного можно найти в магазинах напротив дома, в дисконт-центрах и районных секондах Москвы, а также изучили предложения в группах в социальных сетях.
						Ограничение эксперимента было простым: одна тысяча рублей в руки. Рассказываем, что у нас получилось.
					h3 Дисконт-центр «Орджоникидзе 11»
					.inner__pics
						.img-wrap
							img(src="img/inner2.jpg" alt="inner2")
						.img-wrap
							img(src="img/inner3.jpg" alt="inner3")
					p.
						Потратить тысячу на одежду можно двумя способами: утолить потребительский зуд в масс-маркете с помощью еще одной майки либо подойти к делу осознанно. Я сразу решила быть честной и искать вещи, которые действительно буду носить: в идеале — водолазку, классическую юбку миди и нейтральные, но хорошо сидящие джинсы.
						Гигантский дисконт-центр «Орджоникидзе 11» в здании бывшего станкостроительного завода, по сути, является бюджетной версией обычного торгового центра — так что правила здесь действуют точно такие же.
						Список магазинов лучше заранее изучить на сайте, и имеет смысл ехать за конкретными марками (есть Levi’s, Gant, Lacoste, Karen Millen и Mexx) или спортивной экипировкой от Reebok до adidas.
						Наш бюджет диктовал интригующие поиски среди ассортимента Sela, Savage или Colin’s.
					p.
						Главное правило — точно знать, за чем ты идешь — оказалось самым разумным, настолько велик шанс растеряться в мире больших скидок.
						Во-первых, скидки не всегда равно дешево — вряд ли кто-то специально поедет сюда за ватником Gant из нежно-бежевой замши за 45 тысяч рублей, а он здесь есть.
						В магазинах с названиями вроде Sexy Woman или Discount Season представлены и вовсе абсурдно дорогие безымянные вещи с упором на атласные платья в пол.
						Свою репутацию бессмысленного места подтвердил и дисконт «Джинсовой симфонии» с набором бесхарактерных вещей за неоправданные 3–5 тысяч.
						Самые дешевые джинсы здесь стоили 1099 рублей и выглядели так несовременно рядом со мной.
					p.
						Более заманчивые перспективы, как и большую опасность, таят масс-супермаркеты, где вещи развешаны по типу и ценовым категориям.
						Таблички «от 299 рублей» чаще означают «от», чем «299», но нельзя сдаваться.
						Именно в таком мегасторе Ostin я нашла умеренно расклешенные джинсы правильного синего цвета.
					h3 Районные секонд-хенды
					.inner__pics
						.img-wrap
							img(src="img/inner4.jpg" alt="inner4")
						.img-wrap
							img(src="img/inner5.jpg" alt="inner5")
					p.
						Потратить тысячу на одежду можно двумя способами: утолить потребительский зуд в масс-маркете с помощью еще одной майки либо подойти к делу осознанно. Я сразу решила быть честной и искать вещи, которые действительно буду носить: в идеале — водолазку, классическую юбку миди и нейтральные, но хорошо сидящие джинсы.
						Гигантский дисконт-центр «Орджоникидзе 11» в здании бывшего станкостроительного завода, по сути, является бюджетной версией обычного торгового центра — так что правила здесь действуют точно такие же.
						Список магазинов лучше заранее изучить на сайте, и имеет смысл ехать за конкретными марками (есть Levi’s, Gant, Lacoste, Karen Millen и Mexx) или спортивной экипировкой от Reebok до adidas.
						Наш бюджет диктовал интригующие поиски среди ассортимента Sela, Savage или Colin’s.
					p.
						Главное правило — точно знать, за чем ты идешь — оказалось самым разумным, настолько велик шанс растеряться в мире больших скидок.
						Во-первых, скидки не всегда равно дешево — вряд ли кто-то специально поедет сюда за ватником Gant из нежно-бежевой замши за 45 тысяч рублей, а он здесь есть.
						В магазинах с названиями вроде Sexy Woman или Discount Season представлены и вовсе абсурдно дорогие безымянные вещи с упором на атласные платья в пол.
						Свою репутацию бессмысленного места подтвердил и дисконт «Джинсовой симфонии» с набором бесхарактерных вещей за неоправданные 3–5 тысяч.
						Самые дешевые джинсы здесь стоили 1099 рублей и выглядели так несовременно рядом со мной.
					p.
						Более заманчивые перспективы, как и большую опасность, таят масс-супермаркеты, где вещи развешаны по типу и ценовым категориям.
						Таблички «от 299 рублей» чаще означают «от», чем «299», но нельзя сдаваться.
						Именно в таком мегасторе Ostin я нашла умеренно расклешенные джинсы правильного синего цвета.
					//BEGIN PUBLICATION
					.publication
						h2 Последние публикации
						.item-wrap
							.item
								a(href="#").item__img(style="background-image: url(img/item7.jpg)")
								.item__txt
									.item__category
										a(href="#").item__category-name.onleft Развлечения
										.item__date.onright 8 февраля
									a(href="#").item__ttl «Фокус» Гленна Фикарры и Джона Рекуа
									p.item__desc
										Уилл Смит примеряет на себя амплуа опытного мошенника, который преподает молодой красавице уроки мелких краж и больших надувательств.
							.item
								a(href="#").item__img(style="background-image: url(img/item8.jpg)")
								.item__txt
									.item__category
										a(href="#").item__category-name.onleft Одежда
										.item__date.onright 5 февраля
									a(href="#").item__ttl Зачем идти в Uniqlo за коллекцией Инес де Ла Фрессанж
									p.item__desc
										Твидовые жакеты, простые тренчи, вельветовые брюки, удлиненные пиджаки, рубашки в цветочек.
							.item
								a(href="#").item__img(style="background-image: url(img/item9.jpg)")
								.item__txt
									.item__category
										a(href="#").item__category-name.onleft Дом
										.item__date.onright 27 января
									a(href="#").item__ttl Обустроить квартиру для двоих: 10 рекомендаций
									p.item__desc
										Семья дизайнеров, основываясь на собственном опыте, даёт советы насчёт правильного освещения для романтических ужинов и зеркал в спальне
				//END INNER
	//END CONTENT